name: Hello Github Actions
on: [push]

env:
  AWS_REGION: ap-northeast-1
  ECS_CLUSTER: my-app-cluster
  ECS_SERVICE: my-java-app-service
  ECS_REPOSITORY: java-app
  ECS_TASK_DEFINITION_API: .aws/ecs/java-app-api-task-def.json # TODO

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

jobs:
  # Test / Build
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run tests and build an image
        run: docker image build -t java-app:latest .

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}

          # 1. IAM create Identiry Provider for GitHub
          # 2. Create IAM Role with Trust relationship to the above provider
          # 3. Attach necessary policies to the role
          # 4. Store the Role ARN in GitHub Secrets as AWS_ROLE_TO_ASSUME
          #    (settings > Secrets and variables > Actions > New repository secret)

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Push the image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          # ECR_REPOSITORY: ${{ env.ECS_REPOSITORY }}
          # IMAGE_TAG: ${{ github.sha }}
        run: |
          docker image tag java-app:latest $ECR_REGISTRY/${{ env.ECS_REPOSITORY }}:${{ github.sha }}
          docker image push $ECR_REGISTRY/${{ env.ECS_REPOSITORY }}:${{ github.sha }}
